*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Times New Roman;
	scroll-behavior: smooth;
	scroll-padding-top: 50px;
}

body{
	background: linear-gradient(180deg,#ffffff,#cccccc);
	background-attachment: fixed;
  background-repeat: no-repeat;
	font-family: Times New Roman;
}

.roboto-condensed-main-container {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.event-text{
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	justify-self: center;
	padding-top: 150px;

	line-height: 1.5;

	margin-bottom: 50px;
}

.event-text .intro h3{
	font-family: Times New Roman;
	font-style: oblique;
	font-size: 28px;
	font-weight: 600;

	text-align: center;
}

.intro{
	margin-bottom: 70px;
}

.part1{
	display: flex;
	align-items: center;

	gap: 50px;

	margin-top: 30px;
}

.pics{
	display: flex;
	flex-direction: column;

	align-items: flex-start;
}

.pics img{
	width: 300px;
	margin: 8px;
	padding: 2px;
	background-color: white;
	box-shadow: 0 3px 15px rgba(0,0,0,0.30);
} 

.pics img:hover{
	box-shadow: 0 5px 20px rgba(0,0,0,1.0);
}

.event-text h3{
	font-family: Roboto Condensed, sans-serif;
}

.part1 .text{
	margin-top: -90px;
}

.part1 ul li{
	list-style: none;
	margin-top: 45px;
	margin-left: 50px;

	font-family: Roboto Condensed;
	font-size: 20px;
	font-weight: 350;

	color: #333333;
}

.part1 ul li h3{
	margin-top: 0px;

	font-family: Roboto Condensed;
	font-size: 19px;

	color: #cc4400;
}

.part2{
	margin-top: 70px;
	margin-left: -320px;
}

.part2 h3{
	margin-left: -170px;

	font-family: Roboto Condensed;
	font-size: 20px;
	font-weight: 350;

}

.gallery-container{
	width: 75%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-self: center;
	padding: 50px 8%;

	margin-top: -50px;
}

.gallery{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 30px;
	margin-bottom: 10px;
}

.gallery img{
	width: 100%;
	padding: 2px;
	background-color: white;
	box-shadow: 0 5px 20px rgba(0,0,0,0.7);
}

.gallery img:hover{
	width: 270px;
	margin: -7.5px;
	box-shadow: 0 5px 20px rgba(0,0,0,1.5);
}

.links{
	width: 60%;
	display: flex;
	justify-content: center;
	justify-self: center;

	gap: 50px;

	padding-bottom: 100px;
	margin-top: 100px;
}




@media screen and (max-width: 600px) {
	.intro h3{
		font-size: 21px;
	}

 	.event-text{
 		width: 85%;
 	}

 	.part1 .text{
	margin-top: -10px;
	}

	.part1 ul li{
		margin-top: 40px;
	}

	.part2{
		margin-left: 0px;
	}

 	.part2 h3{
 		margin-left: 0px;
 	}

 	.pics{
 		display: none;
 	}

 	.links{
 		width: 75%;
 		display: flex;
 		flex-direction: column;
 	}

 	.links iframe{
 		width: 100%;
 	}

 	.gallery img:hover{
	width: 100%;
	margin: 0px;
	padding: 0px;
	}

}