*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Times New Roman;
	scroll-behavior: smooth;
	scroll-padding-top: 50px;
}

body{
	background: linear-gradient(180deg,#ffffff,#cccccc);
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family: Times New Roman;
}

.roboto-condensed-main-container {
	font-family: "Roboto Condensed", sans-serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
}

.project-text{
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	justify-self: center;
	padding-top: 130px;

	line-height: 1.5;
	margin-bottom: 50px;
}

.part1{
	display: flex;
	align-items: center;

	gap: 50px;

	margin-top: 30px;
	width: 100%;
}

.pics{
	display: flex;
	flex-direction: column;

	align-items: flex-start;
	flex-shrink: 0;
}

.pics img{
	width: 700px;
	max-width: 100%;
	height: auto;

	margin: 8px;
	padding: 2px;

	background-color: white;
	box-shadow: 0 3px 15px rgba(0,0,0,0.30);
}

.pics img:hover{
	box-shadow: 0 5px 20px rgba(0,0,0,1.0);
}

.project-text h3{
	font-family: Roboto Condensed, sans-serif;
}

.part1 .text{
	flex: 1;
}

.part1 .text h3{
	font-size: 21px;
	font-weight: 350;

	color: #333333;

	line-height: 1.5;

	margin-top: 15px;
}

.part1 .text h3:first-child{
	font-weight: 450;
}

.part1 .text ul{
	margin-top: 10px;
}

.part1 .text ul li{
	list-style: none;

	font-family: Roboto Condensed, sans-serif;
	font-size: 20px;
	font-weight: 350;

	color: #333333;

	line-height: 1.4;
	margin-top: 8px;
}

#verse{
	font-style: oblique;
	font-weight: 400;
}

.part2{
	margin-top: 50px;
	margin-left: 10px;
	width: 100%;
}

.part2 h3{
	font-family: Roboto Condensed, sans-serif;
	font-size: 20px;
	font-weight: 350;

	line-height: 1.7;
}

.part2 ul{
	margin-top: 15px;
}

.part2 ul li{
	list-style: none;
	margin-top: 12px;
	margin-left: 20px;

	font-family: Roboto Condensed, sans-serif;
	font-size: 20px;
	font-weight: 350;

	color: #333333;

	line-height: 1.5;
}

.gallery-container{
	width: 75%;
	min-height: auto;

	display: flex;
	align-items: center;
	justify-content: center;
	justify-self: center;

	padding: 45px 8%;

	margin-top: 20px;
	margin-bottom: 35px;
}

.gallery{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 30px;
	width: 100%;
}

.gallery img{
	width: 100%;
	height: auto;

	padding: 2px;

	background-color: white;
	box-shadow: 0 5px 20px rgba(0,0,0,0.7);

	transition: 0.2s;
}

.gallery img:hover{
	transform: scale(1.03);
	box-shadow: 0 5px 20px rgba(0,0,0,1.5);
}

.links{
	width: min(1400px, 75%);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 320px));
	justify-content: center;
	justify-items: center;
	align-items: start;
	gap: 30px;

	padding-bottom: 100px;
	margin: 60px auto 0 auto;
}

.links iframe{
	width: 100%;
	max-width: 320px;
	height: 420px;
	border-radius: 12px;
	box-shadow: 0 4px 15px rgba(0,0,0,0.25);
}

@media screen and (max-width: 1400px){

	.project-text{
		width: 75%;
	}

	.pics img{
		width: 500px;
	}
}

@media screen and (max-width: 1100px){

	.project-text{
		width: 85%;
	}

	.part1{
		flex-direction: column;
		align-items: center;
	}

	.pics{
		align-items: center;
		width: 100%;
	}

	.pics img{
		width: 100%;
		max-width: 650px;
	}

	.part1 .text{
		width: 100%;
	}

	.gallery-container{
		width: 85%;
	}
}

@media screen and (max-width: 900px){

	.links{
		width: 90%;
		grid-template-columns: repeat(auto-fit, minmax(260px, 320px));
	}
}

@media screen and (max-width: 600px){

	.project-text{
		width: 88%;

		padding: 4vw;
		padding-top: 130px;

		margin-bottom: 70px;
	}

	.part1{
		gap: 20px;
	}

	.part1 .text{
		margin-top: -10px;
	}

	.part1 .text h3{
		font-size: 18px;
		line-height: 1.7;
	}

	.part1 .text ul li{
		font-size: 18px;
		line-height: 1.7;
	}

	.part2{
		margin-left: 0px;
		margin-top: 20px;
	}

	.part2 h3{
		margin-left: 0px;
		font-size: 18px;
		line-height: 1.7;
	}

	.part2 ul li{
		font-size: 18px;
		margin-left: 10px;
	}

	.pics{
		display: none;
	}

	.links{
		width: 90%;
		grid-template-columns: 1fr;

		padding: 4vw;
		gap: 30px;

		margin-top: 50px;
		padding-bottom: 100px;
	}

	.links iframe{
		width: 100%;
		max-width: 100%;
		height: 500px;
		margin-top: 0;
	}

	.gallery-container{
		width: 90%;

		padding: 4vw;
		padding-top: 20px;
		padding-bottom: 20px;

		min-height: auto;
	}

	.gallery{
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		grid-gap: 15px;
	}

	.gallery img:hover{
		transform: none;
	}
}

@media screen and (max-width: 380px){

	.gallery{
		grid-template-columns: 1fr;
	}
}
