*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Times New Roman;
	scroll-behavior: smooth;
	scroll-padding-top: 50px;
}

body{
	background: linear-gradient(180deg,#ffffff,#cccccc);
	background-attachment: fixed;
  background-repeat: no-repeat;
	font-family: Times New Roman;
}

.roboto-condensed-main-container {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.project-text{
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	justify-self: center;
	padding-top: 130px;

	line-height: 1.5;

	margin-bottom: 50px;
}

.part1{
	display: flex;
	align-items: center;

	gap: 50px;

	margin-top: 30px;
}

.pics{
	display: flex;
	flex-direction: column;

	align-items: flex-start;
}

.pics img{
	width: 400px;
	margin: 8px;
	padding: 2px;
	background-color: white;
	box-shadow: 0 3px 15px rgba(0,0,0,0.30);
} 

.pics img:hover{
	box-shadow: 0 5px 20px rgba(0,0,0,1.0);
}

.project-text h3{
	font-family: Roboto Condensed, sans-serif;
}

.part1 .text h3{
	font-size: 19px;
	font-weight: 350;

	color: #333333;

	line-height: 1.8;

	margin-top: 20px;
}

#verse{
	font-style: oblique;
	font-weight: 400;

	margin-top: 80px;
}

.part2{
	margin-top: 50px;
	margin-left: -545px;

	margin-bottom: -300px;
}

.part2 h3{
	font-family: Roboto Condensed;
	font-size: 20px;
	font-weight: 350;
}

.gallery-container{
	width: 75%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-self: center;
	padding: 50px 8%;

	margin-bottom: 0px;
}

.gallery{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 30px;
}

.gallery img{
	width: 100%;
	padding: 2px;
	background-color: white;
	box-shadow: 0 5px 20px rgba(0,0,0,0.7);
}

.gallery img:hover{
	width: 270px;
	margin: -7.5px;
	box-shadow: 0 5px 20px rgba(0,0,0,1.5);
}

.links{
	width: 60%;
	display: flex;
	justify-content: center;
	justify-self: center;

	gap: 50px;

	padding-bottom: 100px;
	margin-top: -150px;
}



@media screen and (max-width: 600px) {
	.intro h3{
		font-size: 21px;
	}

 	.project-text{
 		width: 85%;
 		padding: 4vw;
 		margin-bottom: 90px;
 		padding-top: 130px;
 	}

 	.part1 .text{
	margin-top: -10px;
	}

	.part1 ul li{
		margin-top: 40px;
	}

	.part2{
		margin-left: 0px;

		margin-bottom: 0px;
	}

 	.part2 h3{
 		margin-left: 0px;
 	}
 	
 	.pics{
 		display: none;
 	}

 	
 	.links{
 		width: 75%;
 		display: flex;
 		flex-direction: column;

 		margin-top: 150px;

 		padding: 4vw;
 	}

 	.links iframe{
 		width: 100%;
 		margin-top: -50px;
 	}

 	.gallery-container{
 		padding: 4vw;
 	}

 	

 	.gallery img:hover{
		width: 100%;
		margin: 0px;
		padding: 0px;
	}

}
